.App {
  position: relative;
  width: 100vw;
  height: 200vh;
  background-color: #1b2837;
  overflow: hidden;
}

.Background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ellipse {
  width: 54rem;
  height: 21.5rem;
  background: #4d6e95;
  filter: blur(185px);
  overflow: hidden;
}
