body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #1b2837;
  z-index: 0;

  overflow-x: hidden;
  overflow-y: auto;

  padding-bottom: 8rem;
}

.Background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ellipse {
  position: absolute;
  width: 54rem;
  height: 21.5rem;
  background: #4d6e95;
  filter: blur(185px);
  z-index: -1;
  top: 12rem;
}

@media (max-width: 768px) {
  .Ellipse {
    top: 7rem;
  }
}
